<div class="d-flex align-items-center justify-content-center vh-100 bg-white" style="margin-top: 70px; z-index: -1;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="p-5 rounded shadow-lg" style="max-width: 400px; width: 100%; background-color: rgb(253, 250, 250);">
      <h2 class="text-center mb-4">Sign Up</h2>
      <form nz-form [formGroup]="signupForm">
        <nz-form-item *ngIf="stepOne">
          <nz-form-label [nzSpan]="24" for="name">Name</nz-form-label>
          <nz-form-control [nzErrorTip]="nameErrorTpl">
            <nz-input-group nzPrefixIcon="user">
              <input nz-input id="name" type="text" placeholder="Name" formControlName="name" />
            </nz-input-group>
            <ng-template #nameErrorTpl>
              <span class="text-danger">Please input your username!</span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="stepOne">
          <nz-form-label [nzSpan]="24" for="email">Email</nz-form-label>
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <nz-input-group nzPrefixIcon="mail">
              <input nz-input id="email" type="email" placeholder="Email" formControlName="email" />
            </nz-input-group>
            <ng-template #emailErrorTpl>
              <span class="text-danger">The input is not a valid E-mail!</span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item *ngIf="stepOne">
          <nz-form-label [nzSpan]="24" for="password">Password</nz-form-label>
          <nz-form-control [nzErrorTip]="passwordErrorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input nz-input id="password"[type]="showPassword ? 'text' : 'password'"  placeholder="Password" formControlName="password" />
              <span nz-input-prefix>
                <label>
                  <input type="checkbox" (change)="togglePasswordVisibility($event)" />
                </label>
              </span>
            </nz-input-group>
            <ng-template #passwordErrorTpl>
              <span class="text-danger" *ngIf="signupForm.controls['password'].hasError('required')">
                Password is required!
              </span>
              <span class="text-danger" *ngIf="signupForm.controls['password'].hasError('pattern')">
                Password should contain 8 characters, 1 lowercase, 1 uppercase, 1 number, and 1 special character.
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="stepOne">
          <nz-form-label [nzSpan]="24" for="checkPassword">Confirm Password</nz-form-label>
          <nz-form-control [nzErrorTip]="checkPasswordErrorTpl">
            <nz-input-group nzPrefixIcon="lock">
              <input nz-input id="checkPassword" [type]="showPassword ? 'text' : 'password'" placeholder="Confirm Password" formControlName="checkPassword" />
              <span nz-input-prefix>
                <label>
                  <input type="checkbox" (change)="togglePasswordVisibility($event)" />
                </label>
              </span>
            </nz-input-group>
            <ng-template #checkPasswordErrorTpl>
              <span class="text-danger" *ngIf="signupForm.controls['checkPassword'].hasError('required')">
                Please confirm your password!
              </span>
              <span class="text-danger" *ngIf="signupForm.hasError('passwordMismatch')">
                Two passwords that you enter are inconsistent!
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="stepTwo">
          <nz-form-label [nzSpan]="24" for="otp">OTP Code</nz-form-label>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="lock">
              <input nz-input id="otp" type="number" placeholder="Six digit OTP code" formControlName="otp" />
            </nz-input-group>
            <span class="text-danger" *ngIf="otpError">
              Please confirm your otp !
            </span>
          </nz-form-control>
        </nz-form-item>

        <div class="d-grid" *ngIf="stepTwo">
          <button nz-button nzType="primary" class="btn btn-primary w-100 h-100" type="submit" [disabled]="signupForm.invalid" (click)="register2()" style="background-color: orangered; color: white;">
            Register
          </button>
        </div>

        <div class="d-grid" *ngIf="stepOne">
          <button nz-button nzType="primary" class="btn btn-primary w-100 h-100" type="submit" [disabled]="signupForm.invalid" (click)="register()" style="background-color: orangered; color: white;">
            Request OTP
          </button>
        </div>
        <div class="text-center mt-3" *ngIf="stepOne">
          Or <a routerLink="/login" class="text-decoration-none" style="color: orangered;">login now!</a>
        </div>
      </form>
    </div>
  </nz-spin>
</div>
