.button{
  background-color: orangered;
  color: white !important;
  font-weight: bold;
  width: 90px;
  text-align: center;
  margin-left: 10px;
  border-radius: 10%;
}

.active-link{
  color: orangered;
  font-weight: bolder;
}

.nav-link:hover{
  color: orange;
  font-weight: bold;
  transition: .5s;
}

